@use "./variablses" as var;

.glow {
    transition: 0.3s ease-out;
    text-shadow:
        1px 1px 2px rgba(255, 255, 255, 0.7),
        0 0 1em rgba(255, 255, 255, 0.7),
        0 0 0.2em rgba(255, 255, 255, 0.7);

    &:hover {
        transition: 0.3s ease-in;
        text-shadow:
            1px 1px 2px rgb(255, 255, 255),
            0 0 1em rgb(255, 255, 255),
            0 0 0.2em rgb(255, 255, 255);
    }
}

.gray-glow{
    transition: 0.3s ease-out;
    text-shadow:
        1px 1px 2px rgba(200, 200, 200, 0.5),
        0 0 1em rgba(200, 200, 200, 0.5),
        0 0 0.2em rgba(200, 200, 200, 0.5);
    
        &:hover{
        transition: 0.3s ease-in;
        text-shadow:
            1px 1px 2px rgb(200, 200, 200),
            0 0 1em rgb(200, 200, 200),
            0 0 0.2em rgb(200, 200, 200);
    }
}

:focus {
    outline: none;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

body {
    font-family: "Orbitron", sans-serif;
    background: linear-gradient(to bottom, var.$black, var.$secondary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    width: 70%;
    max-width: 1280px;
    background-color: var.$primary-color;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    a {
        color: var.$white;
        text-decoration: none;
        font-size: 2.4rem;
        padding: 1rem 2rem;
    }
    section{
        display: flex;
        gap: 0;
        justify-content: center;
        align-items: center;

        a:nth-child(2){
            background-color: var.$secondary-color;
            text-align: center;
            border-radius: 0.5rem;
            margin-right: 1rem;
            font-size: 1.2rem;
            padding: 1rem;
        }
        img{
            height: 3.5rem;
            width: 3.5rem;
            border-radius: 2rem;
            border: 2px solid var.$accent;
            box-shadow:             
            1px 1px 2px rgba(255, 255, 255, 0.11),
            0 0 1em rgba(255, 255, 255, 0.11),
            0 0 0.2em rgba(255, 255, 255, 0.11);;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 1280px;
    min-height: 75vh;
    padding-bottom: 2rem;
    background-color: var.$secondary-color;
    box-shadow: darken(var.$gray, 40px) 0px 0px 50px 0px;
}

footer {
    width: 100%;
    background-color: var.$primary-color;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: static;
    bottom: 0;

    h3 {
        font-size: 1.7rem;
        padding-bottom: 0.2rem;
    }

    a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var.$accent;
        text-decoration: none;
    }

    .top {
        max-width: 1280px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding-top: 3rem;
        color: var.$accent;

        .about {
            display: flex;
            flex-direction: column;
            gap: 0.5srem;
            width: 70%;
        }

        .socials {

            i{
                font-size: 1.5rem;
                padding-bottom: 0.5rem;
            }

            .fa-instagram {
                font-size: 1.8rem;
            }
        }
    }

    .bottom {
        border-top: 1px solid var.$gray;
        padding-top: 1rem;
        padding-bottom: 2rem;
        width: 80%;
        max-width: 1280px;
        text-align: center;
        color: var.$gray;
        font-size: 1rem;
    }
}

@media (max-width: 1080px){
    nav{
        width: 100%;
        section{
            a{
                padding: inherit 0.5rem;
            }
            a:nth-child(2){
                display: none;
            }
        }
    }
    main{
        width: 100%;
    }
    #logout-btn{
        display: none;
    }
}
@media (max-width: 1080px){
    footer .top{
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 2rem;
        line-height: 1.6rem;
    }
}