@use "./variablses" as var;

.login-box {
    justify-self: center;
    background: var.$primary-color;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 10px;
    color: var.$white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    max-width: 500px;

    & input {

        padding: .75rem;
        border-radius: 6px;
        border: none;
        background: var.$secondary-color;
        color: var.$white;
    }

    & button {
        font-family: "Orbitron", sans-serif;
        font-size: 1rem;
        padding: .75rem;
        border-radius: 6px;
        border: none;
        background: var.$secondary-color;
        color: var.$white;
        cursor: pointer;

        :hover {
            background-color: darken(var.$secondary-color, 5%);
        }

        & a {
            font-family: "Orbitron", sans-serif;
            font-size: 1rem;
            text-align: center;
            text-decoration: none;
            padding: .75rem;
            border-radius: 6px;
            border: none;
            background: var.$secondary-color;
            color: var.$white;
            cursor: pointer;

            :hover {
                background-color: darken(var.$secondary-color, 5%);
            }

            & h1 {
                text-align: center;
                font-size: 2rem;
                margin: 0
            }
        }

        #step2 {
            & .login-box {
                width: 100%;
                height: 500px;
                padding: 3rem;

                & & h1 {
                    text-align: center;
                    padding-bottom: 1rem;
                }

                & & .step-info {
                    text-align: center;
                    padding-bottom: 2rem;
                    font-size: 1.2rem;
                    opacity: 0.9;
                }

                & & .profile-details {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 2rem;

                    .container {
                        padding-bottom: 1.5rem;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                    }

                    textarea {
                        font-size: 0.9rem;
                        background-color: var.$secondary-color;
                        border: none;
                        border-radius: 6px;
                        color: var.$white;
                        padding: 0.6rem;
                        max-width: 96%;
                        min-width: 96%;
                        min-height: 50px;
                        max-height: 50px;
                    }
                }
            }
        }
    }
}