.profile-header{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 1rem;
}
.user-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
    z-index: 0;
}
.user-info img{
    width: 18rem;
    height: 18rem;
    border-radius: 10%;
    border: 2px solid white;
    box-shadow:
    1px 1px 2px rgb(255, 255, 255),
    0 0 1em rgb(255, 255, 255),
    0 0 0.2em rgb(255, 255, 255);

}
.user-info .username{
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-align: left;
}
.user-info .bio{
    font-size: 1.2rem;
    color: white;
    text-align: left;
    width: 60%;
    text-wrap: wrap;
}

.stats{
    display: flex;
    gap: 2rem;
    z-index: 1;
}
.stats .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 2rem;
    color: white;
    font-size: 1.5rem;
}
.info div{
    display: flex;
    gap: 1rem;
}
    .info p span{
        display: block;
    }
/*.stats .chart{

}
*/
.entries{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.entry{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    width: 90%;
    background-color: #1a1a1a;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    box-shadow: 0 0 10px rgb(105, 105, 105);    
    padding: 1rem;  
}
.entry .title{
    font-family: "Orbitron", sans-serif;
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 2rem;
}
.entry .profile p{
    font-size: 1.7rem;
    font-weight: 600;
}
.entry-content p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.   1rem;
}
@media (max-width: 1080px){
    .stats{
        justify-content: flex-end;

    }
    .info{
        width: 40%;
    }
}
@media (max-width: 700px) {
    .profile-header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .user-info{
        align-items: center;
    }
    .user-info .bio{
        text-align: center;
    }
    .stats{
        align-items: center;
        justify-content: center;
        width: 100%;
        border-top:#616161 solid 2px;
    }
    .stats .info{
    margin-right: 2rem;
    }
    .entry{
    width: 90%;
}
}
